<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YellowBeltExam</title>
    <link rel="stylesheet" type="text/css" href="exam.css">
</head>

<body>

<div id="wrapper">

    <div id="topcontent">

        <div id="header">
            <h2>Yourwebsitetitle<span>.com</span></h2>
            <img src="logo.png" alt="logo picture" >
        </div>

        <ul id="nav">
            <li>Mainsite <span></span></li>
            <li>Services</li>
            <li>Gallery</li>
            <li>Resources</li>
            <li>Help & Support</li>
            <li>Contact</li>
        </ul>

        <div id="banner">
            <img id="bannerimg"  src="banner_img.png" alt="Banner Image" >
            <div id="bannergap" ></div>
        </div>
    
    </div> <!-- end of Top Content -->


    <div id="leftsidebar" >
    
        <div id="search" >
            <p>Search Our Site</p>
               <input type="text" >
               <button type="button" name="button"></button>
        </div>
    
        <div class="box" >
            
            <h2>Notes Area</h2>
            <p>
            Edit the global sidebar .htm to update this text. You can include information, notes and links in this text area.
            </p>
            <a href="">Sample link......</a>
        </div>

        <div class="box" >
                        
            <p>
            Either vertical or horizontal scroll direction.
            </p>
            
            <p>
            Customizable pause time before and after an item
            </p>
            
            <p>
            Scroll modes: auto and on-demand. When scroller box is hovered over.
            </p>
        </div>

        <!-- <div class="box" > -->
        <img class="boximg" src="content_img1.png" alt="">
        <!-- </div> -->

        <div class="box">
            
            <h2>Notes Area</h2>
            <p>
            Edit the global sidebar .htm to update this text. You can include information, notes and links in this text area.
            </p>
            <a href="">Sample link......</a>
        </div>
        
    </div> <!-- end of LeftSideBar Content -->



    <div id="middlesection" >
   
        <div class="middleleft" >
            <h2>Allwebco Template</h2>
            <p>
                This template includes three pcutre galleries in 2 versions, both with and without paypal order forms. The header logo is a global plain test logo you can edit in Notepad. A <span> grahic log</span> .jpg otpion is included so you use your own graphic logo image. All  menues, sidebards and the footer and hearder are plain test global files so you can update all your pages at one. The inclued search is a site search pwered by Google and does not require any speacial scripts to setup in your hosting account. <span>View this page with agraphic logo. </span>
            </p>

            <div class="middleleftbar">              
            </div>
        </div>
        <div class="middleleft">
            <h2>Colors and Formatting</h2>
            <p>
                This template includes six color themes. Colors are easily globally changed for the entire template by editing the plain text colodheme css with your choice. Instantly change the color of your website. Template font sizes and colors, page buttons and menu colors and fonts are all set in global CSS files for easy formatting updates. You can also setup your own custom color theme. If you are creating your own theme some graphics editing will be required. 
            </p>

            <div class="middleleftbar">              
            </div>
        </div>
        <div class="middleleft">
            <h2>Features</h2>
            <p>
                Features Plain text global menus, global sidebar areas header and footers are setup for easy website updates The drop menus can be setup 3 deep for larger websites A sample multi-level menu file is included with the download. Or any menu item can be set as a plain button with no drop menu. The sidebar search can be switched off, setup as a Google search or. 3 options are included for a site search. The sidebar scroller is displaying 3 basic HTML pages and is updated like any other template page. The right sidebar can be switched off if not required <span>View the step by step instructions.</span> 
            </p>

            <div class="middleleftbar">              
            </div>
        </div>
    
    </div> <!-- end of middlesection -->


    <div id="rightsidebar">
        <h2 class="boxrh2">Notes Area</h2>
        <div class="boxr" >
            <p>
            You can edit this side bar area with your own text or add links or small images here as well. <span>Contact us...</span>
            </p>
            
        </div>

        <!-- <div class="boxr" > -->
            
            <img class="boxrimg" src="content_img2.png" alt="">
            
        <!-- </div> -->

        <h2 class="boxrh2">Notes Area</h2>
        <div class="boxr" >
            <p>
            You can edit this side bar area with your own text or add links or small images here as well. <span>Contact us...</span>
            </p>
            
        </div> 


    </div><!-- end of rightsidebar -->

    <div id="footer">
        <div id="footergap"></div>
    </div>
</div> <!-- end of wrapper -->
    

</body>
</html>